@tailwind base;
@tailwind components;
@tailwind utilities;

.stylish-regular {
    font-family: "Stylish", serif;
    font-style: normal;
  }

  .black-ops-one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  